<div class="bg-green-400 min-h-screen">
  <div class="sm:container mx-auto p-4">
    <h2 class="p-2 font-bold text-yellow-400 text-3xl">Welcome</h2>
    <p class="p-2 text-white text-lg">Please proceed to book our services</p>
  </div>

  <div class="sm:container mx-auto p-4">
    <h1 class="text-4xl font-semibold mb-6">Services</h1>
    <div class="flex flex-row  sm:flex-wrap md:gap-6 gap-2">
      <% @services.each do |service| %>
        <div class="bg-white p-6 rounded-lg w-fit shadow-lg hover:shadow-xl transition-shadow duration-300">
          <%= link_to service_path(service), class: "block" do %>
            <h2 class="text-2xl font-bold mb-2"><%= service.name %></h2>
            <p class="text-gray-700 mb-4"><%= number_to_currency(service.price) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
