<p style="color: green"><%= notice %></p>

<h1 class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">Workers</h1>

<div id="workers" class="bg-grey-700">
  <% @workers.each do |worker| %>
    <%= render worker %>
    <p>
      <%= link_to "Show this worker", worker %>
    </p>
  <% end %>
</div>

<%= link_to "New worker", new_worker_path %>
